@page "/people"
@using BlazorDemo.Shared
@inject HttpClient Http

<h3>People</h3>

@if (users == null)
{
    if (isLoading == true)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <button class="btn btn-info" @onclick="@LoadPeople">Load People</button>
    }
}
else
{
    <div class="row">
        @foreach (var user in users)
        {
            <Profile user="user"></Profile>
        }
    </div>
}

@code {
    private List<UserModel> users;
    private bool isLoading = false;
    private UserModel _personModel = new UserModel();

    private async Task LoadPeople()
    {
        isLoading = true;
        //await Task.Delay(1000);

        users = await Http.GetJsonAsync<List<UserModel>>(@"user\all");

        isLoading = false;
    }
}
